<p>Welcome to Product Page</p>

<div *ngIf="localData">
    <table border="1px" style="border-collapse: collapse;">
    <thead>
        <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Category</th>
        <th>Quantity</th>
        </tr>  
    </thead>
    <tbody>
        <tr *ngFor="let product of localData">
            <td>{{product.id}}</td>
            <td>{{product.name}}</td>
            <td>{{product.price}}</td>
            <td>{{product.category}}</td>
            <td>{{product.quantity}}</td>
        </tr>

    </tbody>
</table>

</div>
