<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div [ngSwitch]="currentLight">
  <div *ngSwitchCase="'red'" [ngStyle]="{'color': textColor}">
    STOP - Light is RED
  </div>
   <div *ngSwitchCase="'yellow'" [ngStyle]="{'color': textColor}">
    READY - Light is YELLOW
  </div>
   <div *ngSwitchCase="'green'" [ngStyle]="{'color': textColor}">
    GO - Light is GREEN
  </div>
   <div *ngSwitchDefault>
    Invalid light
  </div>
</div><br>
<button (click)="showRed()">Show RED</button>
<button (click)="showYellow()">Show YELLOW</button>
<button (click)="showGreen()">Show GREEN</button>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet />
