<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<form #contactForm="ngForm" (ngSubmit)="onSubmit(contactForm.value)">
<div class="form-group">
 <label for="name">Name:</label><br />
 <input
 type="text"
 class="form-control"
 id="name"
 name="name"
 ngModel
 required
 [(ngModel)]="contactForm.name"
 #name="ngModel"
 />
 <div *ngIf="name.invalid && (name.dirty || name.touched)" class="text-danger">
 <div *ngIf="name.errors?.['required']">Name is required.</div>
 </div>
</div>

<div class="form-group">
 <label for="email">Email:</label><br />
 <input
 type="text"
 class="form-control"
 id="email"
 name="email"
 ngModel
 required
 email="true"
 [(ngModel)]="contact.email"
 #email="ngModel"
 />
 <div *ngIf="email.invalid && (email.dirty || email.touched)" class="text-danger">
 <div *ngIf="email.errors?.['required']">Email is required.</div>
 <div *ngIf="email.errors?.['email']">Invalid email format.</div>
 </div>
</div>
<br>
  <button type="submit" [disabled]="!contactForm.valid">Submit</button>
</form>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced.  * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder  * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->


<router-outlet />
